<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">Wsbbank</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">WB</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Panel</li>
      <li class="active">
        <a href=<%= "#{root_path}" %> class="nav-link">
          <i class="fa fa-home"></i>
          <span class="ml-5">Home</span>
        </a>
      </li>
    </ul>
  </aside>
  </div>