<table class="table">
  <thead>
    <tr>
      <th scope="col">ID transakcji</th>
      <th scope="col">Typ</th>
      <th scope="col">Kwota</th>
    </tr>
  </thead>
  <tbody>
    <% last_5_transactions.each do |t| %>
    <tr>
      <th scope="row"><%= t.id %></th>
      <td><%= t.transaction_type %></td>
      <td><%= currency(t.amount) %></td>
    </tr>
    <% end %>
  </tbody>
</table>