<div class="card">
  <div class="card-header">
    <h4>Ostatnie 5 transakcji</h4>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="d-none d-lg-table-cell">ID transakcji</th>
          <th scope="col" class="d-none d-lg-table-cell">Numer transakcji</th>
          <th scope="col">Typ</th>
          <th scope="col">Kwota</th>
        </tr>
      </thead>
      <tbody>
        <% last_5_transactions.each do |t| %>
        <tr>
          <td scope="row" class="d-none d-lg-table-cell"><%= t.id %></td>
          <td class="d-none d-lg-table-cell"><%= t.transaction_number %></td>
          <td><%= t.transaction_type %></td>
          <td><%= currency(t.amount) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>