<div class="card">
  <div class="card-header">
    <h4>Liczba transakcji dziennie</h4>
  </div>
  <div class="card-body">
    <% series = [
      {name: "Przelewy", data: AccountTransaction.where(transaction_type: "przelew").group_by_day(:created_at).count},
      {name: "Wpłaty", data: AccountTransaction.where(transaction_type: "wypłata").group_by_day(:created_at).count},
      {name: "Wypłaty", data: AccountTransaction.where(transaction_type: "wpłata").group_by_day(:created_at).count}
      ]
    %> 
    <% options = {
                  xtitle: 'Dzień',
                  ytitle: 'Liczba',
                  stacked: true,
                  theme: 'palette8'
    } %>
    <%= area_chart(series, options) %>
  </div>
  </div>